.container {
  width: 100%;
  min-height: 100vh; /* 화면 높이에 맞게 */
  padding: 30px;
  box-sizing: border-box; /* 패딩 포함 너비 계산 */
  font-family: sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
}


.buttonGroup {
  display: flex;
  gap: 20px;
  margin-top: 95px;
  margin-bottom: 30px;
}

.button {
  width: 115px;
  height: 38px;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
}

.active {
  background-color: #FF6B5B;
  color: white;
}

.inactive {
  background-color: #D9D9D9;
  color: black;
}

.titleInput {
  width: 100%;
  max-width: 330px;
  height: 35px;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  margin-bottom: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.contentInput {
  width: 100%;
  max-width: 330px;
  height: 350px;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  background-color: #fdfdfd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  resize: none;
  margin-bottom: 40px;
}

.saveButton {
  width: 100%;
  max-width: 350px;
  height: 38px;
  background-color: #FF6B5B;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(182, 182, 182, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}


.popup {
  width: 269px;
  height: 294px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.closeButton {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  cursor: pointer;
}

.popupTitle {
  font-size: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.popupButtons {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

.popupSelected {
  background-color: #FF6B5B;
  color: white;
  border: none;
  border-radius: 8px;
  height: 38px;
  width: 180px;
  font-size: 14px;
  cursor: pointer;
}

.popupUnselected {
  background-color: #D9D9D9;
  color: black;
  border: none;
  border-radius: 8px;
  height: 38px;
  width: 180px;
  font-size: 14px;
  cursor: pointer;
}

.popupConfirm {
  width: 100%;
  height: 38px;
  background-color: #FF6B5B;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}