.header {
    display: flex;
    width: 100%;
    height: 197px;
    background-color: #FF6B5B;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    gap: 16px;
    align-items: center;
}

.thanksBox {
    width: 360px;
    height: 190px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.logout {
    margin-top: 40%;
    width: 360px;
    height: 62px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}